<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
</head>
<body>
<wicket:panel>
	<table>
		<tr>
			<td><wicket:message key="userName"/></td>
			<td><span wicket:id="userName">Username</span></td>
		</tr>
		<tr>
			<td><wicket:message key="firstName"/></td>
			<td><span wicket:id="firstName">Vorname</span></td>
		</tr>
		<tr>
			<td><wicket:message key="lastName"/></td>
			<td><span wicket:id="lastName">Nachname</span></td>
		</tr>
		<tr>
			<td><wicket:message key="birthday"/></td>
			<td><span wicket:id="birthday">Geburtstag</span></td>
		</tr>
	</table>

</wicket:panel>
</body>
</html>